<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.poyangreportbackend.mapper.ReportImgMapper">

    <resultMap id="BaseResultMap" type="com.example.poyangreportbackend.domain.ReportImg">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="url" column="url" jdbcType="VARCHAR"/>
            <result property="reportId" column="report_id" jdbcType="BIGINT"/>
            <result property="idx" column="idx" jdbcType="INTEGER"/>
            <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,url,report_id,
        idx,create_time
    </sql>
</mapper>
